<html>
<head>
<title>Page Title</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js" charset="utf-8"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->

</head>
<body>

  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
var url = 'http://localhost:8000/data.json';


$(function () {
    $(document).ready(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

$('#container').highcharts({
    chart: {
        type: 'line',
        animation: Highcharts.svg, // don't animate in old IE
        marginRight: 10,
        events: {
    load: function () {

        // set up the updating of the chart each second
        var temp=0;
        var series = this.series[0];
        setInterval(function () {
          var xhr = new XMLHttpRequest();
          xhr.open("GET", 'http://localhost:8000/worker/a9022144.json', false);
          xhr.send(null);
          // console.log(xhr);
          // console.log(xhr.responseText);
          var sdd=JSON.parse(xhr.responseText).count_success;
          var tt=sdd-temp;
            var x = (new Date()).getTime(), // current time
                y = tt;
            series.addPoint([x, y], true, true);
            temp=sdd;
        }, 1000);
    }
        }
    },
  title: {
      text: 'Live random data'
  },
  xAxis: {
      type: 'datetime',
      tickPixelInterval: 150
  },
  yAxis: {
      title: {
          text: 'Value'
      },
      plotLines: [{
          value: 0,
          width: 1,
          color: '#808080'
      }]
  },
  tooltip: {
      formatter: function () {
          return '<b>' + this.series.name + '</b><br/>' +
              Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
              Highcharts.numberFormat(this.y, 2);
      }
  },
  legend: {
      enabled: false
  },
  exporting: {
      enabled: false
  },
  series: [{
      name: 'Random data',
      data: (function () {
          // generate an array of random data
          var data = [],
              time = (new Date()).getTime(),
              i;


          for (i = -19; i <= 0; i += 1) {

              data.push({
                  x: time + i * 1000,
                  y: 0
              });
          }
          return data;
      }())
  }]
});
    });
});
</script>
</body>
</html>
